/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/workbox-*.js
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
rr
.rr.yaml

/caddy
frankenphp
frankenphp-worker.php
Dockerfile
docker-compose.yml


/bootstrap/cache/*.php
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/cache/*

/pwa-ct-firebase-adminsdk.json
/pptq-cahaya-tasbih-firebase-adminsdk-w9fmm-0a9cd58eed.json
/scratch
