VITE_FIREBASE_API_KEY=AIzaSyCoWfvFlSBGw-SRBsLeS5F_Pm31Ry8hNMU
VITE_FIREBASE_AUTH_DOMAIN=pwa-ct.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=pwa-ct
VITE_FIREBASE_STORAGE_BUCKET=pwa-ct.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=790487476334
VITE_FIREBASE_APP_ID=1:790487476334:web:fd04e9e13d604b2c1fde7f
VITE_FIREBASE_VAPID_PUBLIC_KEY=BECUg09UZt7VLugYbptVAwPvlRiegZh3lmXUxBQhfuDceoVR4yuv3xZ65NUeVrqNONJYoYdAW5YKAEcG2X5S4t0
